 /*detail*/
.detail {
    margin: 50px 100px;     
}

.dec-blok {
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
    margin: 20px 100px;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}

.blokDescription { 
    font-size: 1.2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 0;
}

.blokDescription h3 {
    padding: 0;
    margin: 0;
}
 
.containerImg {
    height: 450px;
    width: 550px;
    border: 1px solid black;
}
 
.blokDescription span {
    color: blue;
}
.containerImg  img {
    width: 100%;
    height: 100%;
}