.mainContent{
    height: 100vh;
    height: 600px;  
    display: flex;
    margin: 50px 80px;
    min-height:100%;
    background:linear-gradient(0deg, rgba(3, 50, 66, 0.3), rgba(7, 63, 67, 0.71)), 
    url(../../assets/odda-norway.jpg);
    color: white;
    background-size:cover;
 }
.content {
    padding: 100px;
}

.content h2 {
    margin: 30px;
    padding: 70px 0 0 20px;
    text-transform: uppercase;
}
 
.content p {
    font-size: 1.3rem;
 }
 
.content .btn {
    padding: 10px 30px;
    border: none;
    background-color: #42697D;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
}

@media screen and (max-width: 768px){
    .mainContent {
        margin: 0;
        padding: 0;
        background:linear-gradient(0deg, rgba(3, 50, 66, 0.3), rgba(7, 63, 67, 0.71)), 
        url(../../assets/odda-norway.jpg);
    }

    .content {
        padding: 0;
        margin: 0;
    }
}