.menuContainer {
    padding: 0;
    margin: 0;
}

.navbarContainer {
    background-color: #2d7f92;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.displayCountries {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 20px;
    text-align: center;
    padding: 0 5px;
    height: auto;
    margin: 10px;
    width: auto;
    
}

.displayCountries li {
    padding: 10 40px;
    margin: 0;
    font-size: 1.4rem;
}

.iconLogo {
    color: white;
    display: none; 
}

/* reviib---------------------- */

@media screen and (max-width: 768px){
  
    .navbarContainer {
        display: flex;
        width: auto;
        width: auto;
        
    }

    .icon {
        justify-content: space-between;
        display: flex;
        width: 100%;
        color: white;
        padding-top: 10px;
    }

    .iconLogo {
        cursor: pointer;
        display: block;
    }

    .displayCountries {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -400px;
        top: 150px;   
        height: 100px;
      
    }    

    .menu.open  {
        left: 0;
        margin: 0;
        width: 100%;
        height: 100vh;
        background-color: #2d7f92 ;
    }

}