@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Anton&family=Irish+Grover&family=League+Spartan:wght@100..900&family=Monsieur+La+Doulaise&family=Noto+Serif:ital@1&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Anton&family=Irish+Grover&family=League+Spartan:wght@100..900&family=Monsieur+La+Doulaise&family=Noto+Serif:ital@1&family=Questrial&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Anton&family=Delius&family=Irish+Grover&family=Lavishly+Yours&family=League+Spartan:wght@100..900&family=Monsieur+La+Doulaise&family=Mystery+Quest&family=Noto+Serif:ital@1&family=Questrial&family=Rochester&family=Style+Script&display=swap');

/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Doto:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+IE+Guides&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"); */

* {

  box-sizing: border-box;
  margin: 0;
 
}

body {
   font-family: "League Spartan", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   /* font-family:"Dancing Script", cursive; */
   background-color: #E4E4E4;
   margin: 0; 
   padding: 0;
}
