.swedenContainer {
    margin: 0;
    padding: 0;
}
.navigation {
    margin: 0;
    padding: 0; 
    box-shadow: 0px 8px 15px rgba(29, 13, 75, 0.1);
   
}

.navigationContent {
    display: flex;   
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.navigationContent li {
    cursor: pointer;
    padding: 10px;
    font-size: 1.2rem;
}
.mainContent {
    margin: 0px 100px;

}
.mainContent h2 {
    margin: 50px 0;
    padding: 0;
    text-align: center;
}
.gallery {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 80px 0;
}
.gallery  div {
    border: 8px solid #80c9da;
    border-radius: 20px;
    box-shadow: 20px 8px 15px rgba(0, 0, 0, 0.1);
}